---
layout: default
title: Team
---

<div class="row row-cols-1 row-cols-md-3">
    {% assign members = site.data.team | sort: "sortkey" %}
    {% for member in members %}
    <div class="col my-3">
        <div class="card vife_teamMember">
            {% if member.image %}
            <img src="{{ member.image | relative_url }}" class="card-img-top mx-auto d-block p-4" alt="{{ member.name }}"/>
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">{{ member.name }}</h3>
                <p class="card-text">
                    {% if member.phone %}
                    <i class="vife_contact_icon fa fa-phone"></i>
                    <a href="tel:{{ member.phone }}">{{ member.phone }}</a><br />
                    {% endif %}
                    {% if member.email %}
                    <i class="vife_contact_icon fa fa-envelope"></i>
                    <span>{{ member.email }}</span><br />
                    {% endif %}
                    {% if member.affiliation %}
                    <i class="vife_contact_icon fa fa-globe"></i>
                    <!-- <a href="https://www.muwi-detmold-paderborn.de/forschung/nfdi4culture" target="_blank">NFDI4Culture</a> -->
                    {% for affiliation in member.affiliation %}
                    {% assign entry = site.data.projects[affiliation] %}
                    <a href="{{ entry.url }}">{{ entry.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if member.orcid %}
                    <i class="vife_contact_icon fa fa-orcid"></i>
                    <a href="https://orcid.org/{{ member.orcid }}">{{ member.orcid }}</a><br />
                    {% endif %}
                </p>
            </div>

        </div>
        <!-- <div class="vife_skills"> </div> -->
    </div>
    {% endfor %}
</div>

<div class="row mt-5">
    <div class="col">
        <h2>Ehemalige "ViFEn"</h2>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3">
    {% assign members = site.data.ehemalige | sort: "sortKey" %}
    {% for member in members %}
    <div class="col my-3">
        <div class="card vife_alumni">
            <!-- {% if member.image %}
            <img src="{{ member.image | relative_url }}" class="card-img-top p-4" alt="{{ member.name }}" />
            {% endif %}-->
            <div class="card-body">
                <h3 class="card-title">{{ member.name }}</h3>
                <p class="card-text">
                    {% if member.phone %}
                    <i class="vife_contact_icon fa fa-phone"></i>
                    <a href="tel:{{ member.phone }}">{{ member.phone }}</a><br />
                    {% endif %}
                    {% if member.email %}
                    <i class="vife_contact_icon fa fa-envelope"></i>
                    <span>{{ member.email }}</span><br />
                    {% endif %}
                    {% if member.affiliation %}
                    <i class="vife_contact_icon fa fa-globe"></i>
                    {% for affiliation in member.affiliation %}
                    {% assign entry = site.data.projects[affiliation] %}
                    <a href="{{ entry.url }}">{{ entry.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
                    {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
