<div class="headerBar">
    <span class="visible-xs visible-sm pull-right"><i
            class="fa fa-external-link"
            style="margin-right:5px;" aria-hidden="true"></i><a
            href="https://ess.uni-paderborn.de">Edirom-Summer-School</a></span>
    <a href="impressum.html" class="visible-xs visible-sm"><i
            class="fa fa-lg fa-info-circle" style="padding-top:3px;"
            aria-hidden="true"
    ></i></a>
    <span class="hidden-xs hidden-sm">Musikwissenschaftliches Seminar Detmold/Paderborn –
                Hornsche Str. 39 – 32756 Detmold – Tel: +49 5231 975667 | <a
                href="mailto:info@edirom.de">info@edirom.de</a></span>
</div>
<div class="essLink hidden-xs hidden-sm">
    <a href="https://ess.uni-paderborn.de" target="_blank"><img
            src="img/ViFE-ESS-logo-ohne-Jahr.png" width="180"/></a>
</div>
