<div class="row">
    <div class="col topnav">
        <ul class="nav nav-pills vife_icons">
            {% for item in site.data.topnav %}
            <li role="presentation" {% if page.url == item.link %}class="active"{% endif %}>
                <a class="navbar-brand vife_icon"
                   href="{{ item.link | relative_url }}">
                    {% if item.glyph %}
                    <span class="fa fa-2x fa-{{ item.glyph }}"
                          aria-hidden="true"></span>
                    {% elsif item.img %}
                    <img src="{{ item.img | relative_url }}"
                         alt="{{ item.name }}" width="40px" height="40px"/>
                    {% endif %}
                    <span class="vife_iconText">{{ item.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
