---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@use "app";
@use "bootstrap" with (
  $theme-colors: (
    "primary": #337ab7,
  )
);
@use "../node_modules/@fortawesome/fontawesome-free/scss/variables" with (
  $font-path:  "{{ '/assets/webfonts' | relative_url }}"
);
@use "fontawesome";
@use "brands" as fa-brands;
@use "solid" as fa-solid;
