<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1" />
        <meta name="google-site-verification"
              content="lAAXkBgILdYSSZnKqZG4hixUau1K5qGU9ZCuUIAN3EA" />
        <title>{{ page.title }} - {{ site.title }}</title>
        <link href="{{ '/assets/css/main.css' | relative_url }}"
              rel="stylesheet" />
        <link rel="icon" type="image/png"
              href="{{ '/assets/favicon/favicon-96x96.png' | relative_url }}"
              sizes="96x96" />
        <link rel="icon" type="image/svg+xml"
              href="{{ '/assets/favicon/favicon.svg' | relative_url }}" />
        <link rel="shortcut icon"
              href="{{ '/assets/favicon/favicon.' | relative_url }}" />
        <link rel="apple-touch-icon" sizes="180x180"
              href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}" />
        <meta name="apple-mobile-web-app-title" content="ViFE" />
        <link rel="manifest"
              href="{{ '/assets/favicon/site.webmanifest' | relative_url }}" />

        {% include matomo.html %}
    </head>
    <body>
        {% include headerbar.html %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>ViFE – Virtueller Forschungsverbund Edirom</h1>
                </div>
            </div>
            {% include topnav.html %}
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>
